$brand-primary: #8BC53F;

$brand-secondary : #2292C4;

$gray: #666666;

$gray-darkest: #424242;

$gray-lighter: #f4f4f4;

$bg-color: #ffffff;


//Boostrap variables

$font-size-base: 14px;

$line-height-base: 1.6;

$headings-line-height:    1.3;


